@model IEnumerable<TMS1.Models.Allocate>

@{
    ViewData["Title"] = "Home Page";
}
<style>
    .sundaratravels
    {
        font-family:'Times New Roman';
        color:black;
        text-align:center;

    }
</style>
<div class="sundaratravels">
    <h1>SUNDARA TRAVELS</h1>
    <h3>About Sunara Travels</h3>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div style=" font-size:larger">
            <p><b>OWNER:</b> Guganesh</p>
            <p><b>Company since:</b>2023</p>
            
        </div>
    </div>
</div>