@model TMS1.Models.RouteInfo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="CreateAllocation">
    <h1 style="text-align:center">Create New Route</h1>
</div>
    <hr />
    <div style="font-size:medium"class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="stop1" class="control-label"></label>
                <input asp-for="stop1" class="form-control" />
                <span asp-validation-for="stop1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stop2" class="control-label"></label>
                <input asp-for="stop2" class="form-control" />
                <span asp-validation-for="stop2" class="text-danger"></span>
            </div>
            <br />
            <div style="text-align:center" class="form-group">
                <input id="create" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
