@model TMS1.Models.RouteInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="CreateAllocation">Individual Route Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stop1) :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stop1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stop2) :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stop2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RouteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
